**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/logs/
**/node_modules/
**/coverage/
**/TestResults/
**/*.log
**/*.tmp
**/*.temp
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/.git
**/.gitignore
**/README.md
**/LICENSE
**/.env
**/.env.*
!**/.env.example